@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.panel-heading {
  padding-bottom: $spacer-xl;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: $spacer-xxxl 0 $spacer-xl;

  &:first-child {
    margin-top: 0;
  }

  @include media-tablet{
    .panel-heading{
      padding-bottom: $spacer-xxl;
      margin: $spacer-xxxxxl 0 $spacer-xxl;
    }
  }  
}

