.hide{
  display: none;
}

.bg-white {
  background-color: $white;
}

.bg-gray-lightest {
  background-color: $gray-lightest;
}

.bg-gray-darker {
  background-color: $gray-darker;
}

.font-bold {
  font-weight: $font-bold;
}

.font-light {
  font-weight: $font-light;
}

.font-large {
  font-size: $font-lg;
}

// .bb-gray-dark {
//   border-bottom-color: $gray-dark;
// }

// .bb-gray-lightest {
//   border-bottom-color: $gray-lightest;
// }
