
/*
 * Theme Colors
 */

$black: #000;
$white: #fff;
$success: #50E3C2;
$warning: #F45165;
$gray-lightest: #e9e9e9;
$gray-lighter: #cccccc;
$gray-light: #aaaaaa;
$gray-medium: #7a7a7a;
$gray-dark: #383232;
$gray-darker: #222;
$page-background-color: #f7f5f0;

/*
 * Settings
 */

$transition-speed-fast: 100ms;
$transition-speed-normal: 300ms;
$transition-speed-slow: 500ms;

/*
 * Containers
 */

$tablet-small-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;

/*
 * Spacers
 */

$spacer-sm: 4px;
$spacer-md: 8px;
$spacer-lg: 16px;
$spacer-xl: 24px;
$spacer-xxl: 32px;
$spacer-xxxl: 40px;
$spacer-xxxxl: 48px;
$spacer-xxxxxl: 60px;

/*
 * Typography
 */

$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-serif: 'Georgia', serif;
// $font-family-fancy: 'EB Garamond';
$font-family-base: $font-family-serif;
$font-color-base: $gray-dark;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

$font-xxs: 11px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 26px;
$font-xxxl: 36px;

$line-height-base: 1.75;
$line-height-heading: 1.1;
