.panel-scroller{
  height: 100%;
  width: 100%;

  .panel{
    position: relative;
    // z-index: 10;

    &:first-child {
      min-height: 100%;
    }
  }

  .panel-heading{
    padding-bottom: $spacer-mobile-large;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: $spacer-mobile-huge 0 $spacer-mobile-large;

    &:first-child {
      margin-top: 0;
    }
  }
}


@include media-tablet{

  .panel-scroller{

    .panel-heading{
      padding-bottom: $spacer-tablet-large;
      margin: $spacer-tablet-huge 0 $spacer-tablet-large;
    }
  }
}
