*,
:after,
:before{
  box-sizing:border-box;
}

html,
body{
  height:100%;
  background-color: $page-background-color;
}

body{
  min-height: 100%;
  padding-bottom:0;
  height:100%;
}


#___gatsby,
#gatsby-focus-wrapper {
  height:100%;
}

img{
  max-width:100%;
}

.container {
  max-width: 100%;;
  padding: $spacer-mobile-huge $spacer-mobile-large;
  margin-right: auto;
  margin-left: auto;
}

.flex-columns {

  .column {
    margin-bottom: $spacer-mobile-large;
  }
}

.list {

  .list-item {
    margin-bottom: $spacer-mobile-huge;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bio {
  margin-bottom: 0;

  a {
    font-weight: $font-bold;
  }
}

.repos {

  .repo {
    border: solid 2px $gray-dark;
    padding: $spacer-mobile-large;
    margin-bottom: $spacer-mobile-large;
  }

  .list-item-right {
    font-weight: $font-bold;
    margin: $spacer-mobile-huge 0 0;
  }
}

.skills {

  .column {
    @extend .clearfix;
  }

  li {
    float: left;
    margin-right: 5px;

    &:after {
      content: ', ';
    }

    &:last-child:after {
      content: '';
    }
  }
}

.experience {

  h5 {
    margin-bottom: $spacer-mobile;
  }
}



@include media-tablet-small {

  .container{
    max-width: $tablet-small-width;
  }
}

@include media-tablet {

  .container {
    max-width: $tablet-width;
    padding: $spacer-tablet-huge $spacer-tablet-large;
  }

  .flex-columns {
    display: flex;
    justify-content: space-between;
  }

  .list {

    .list-item {
      display: flex;
      justify-content: space-between;
    }

    .list-item-left {
      padding-right: $spacer-tablet-large;
    }

    .list-item-right {
      min-width: 20%;
      text-align: right;
    }
  }

  .skills {

    li {
      float: none;
      margin-right: 0;

      &:after {
        content: '';
      }
    }
  }

  .bio {
    font-size: $font-size-tablet-large;
  }

  .repos {

    .list-item-right {
      margin: 0;
    }
  }
}

@include media-desktop {

  .container{
    max-width: $desktop-width;
  }
}
