.flex-columns {

  .column {
    margin-bottom: $spacer-mobile-large;
  }
}

.list {

  .list-item {
    margin-bottom: $spacer-mobile-huge;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


@include media-tablet {

  .flex-columns {
    display: flex;
    justify-content: space-between;
  }

  .list {

    .list-item {
      display: flex;
      justify-content: space-between;
    }

    .list-item-left {
      padding-right: $spacer-tablet-large;
    }

    .list-item-right {
      min-width: 20%;
      text-align: right;
    }
  }
}
