@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.root {
  @include container;

  padding-top: $spacer-mobile-huge;
  padding-bottom: $spacer-mobile-huge;
  
  @include media-tablet {
    padding-top: $spacer-tablet-huge;
    padding-bottom: $spacer-tablet-huge;
  }    
}
