@keyframes swing {
  20% {
  transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
  transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
  transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
  transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
  transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes bounce {
  0%, 5%, 13%, 20%, 25% {
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0, 10px,0);
  }

  10%, 11% {
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -20px, 0);
  }

  18% {
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -10px, 0);
  }

  23% {
  transform: translate3d(0, 0px,0);
  }

  100% {
  transform: translate3d(0, 10px,0);
  }

}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}

.bounce {
  display:block;
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay:1s;
}