body{
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $gray-dark;
}

.sans-serif{
  font-family: $font-family-sans-serif;
}

.serif{
  font-family: $font-family-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: $font-family-fancy;
  margin:0;
  line-height: $line-height-heading;

  a {
    color: $gray-dark;
  }
}

h1,
.h1{
  font-size: $font-size-largest;
  font-weight: $font-normal;
}

h2,
.h2{
  font-size: $font-size-larger;
  font-weight: $font-bold;
  margin-bottom: $spacer-mobile;
}

h3,
.h3{
  font-size: $font-size-large;
  font-weight: $font-normal;
  margin-bottom: $spacer-mobile;
}

h4,
.h4{
  font-size: $font-size-base;
  font-weight: $font-bold;
  margin-bottom: $spacer-mobile;
}

h5,
.h5{
  font-size: $font-size-small;
  font-weight: $font-normal;
}

h6,
.h6{
  font-size: $font-size-smaller;
  font-weight: $font-normal;
}

pre {
  border: 1px solid $gray-light;
  font-size: $font-size-small;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 $spacer-mobile;
}

a {
  &,
  &:visited{
    text-decoration: none;
  }

  &,
  &:visited{
    color: $gray-dark;
  }

  &:hover{
    text-decoration: underline;
  }
}

@include media-tablet {

  body {
    font-size: $font-size-tablet-base;
  }

  h2,
  .h2{
    font-size: $font-size-tablet-larger;
    margin-bottom: $spacer-tablet;
  }

  h3,
  .h3{
    font-size: $font-size-tablet-large;
    margin-bottom: $spacer-tablet;
  }

  h4,
  .h4{
    font-size: $font-size-tablet-base;
    margin-bottom: $spacer-tablet;
  }

  h5,
  .h5{
    font-size: $font-size-tablet-small;
  }
}
