@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";
@import "../../scss/helpers/util";

.bio {
  margin-bottom: 0;

  a {
    font-weight: $font-bold;
  }

  @include media-tablet {
    .bio {
      font-size: $font-size-tablet-large;
    }
  }
}

.experience {

  h5 {
    margin-bottom: $spacer-mobile-large;
  }
}

.italic {
  font-style: italic;
  color: $gray-medium;
}