@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";
@import "../../scss/helpers/util";

.bio {
  margin-bottom: 0;

  a {
    font-weight: $font-bold;
  }

  @include media-tablet {
    .bio {
      font-size: $font-xl;
    }
  }
}

.skills {
  @include media-tablet {
    display: flex;
    justify-content: space-between;
  }  
}

.skills-column {
  margin-bottom: $spacer-xl;
}

.experience {

  h5 {
    margin-bottom: $spacer-xl;
  }
}

.experience-item {
  margin-bottom: $spacer-xxxl;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-tablet {
    display: flex;
    justify-content: space-between;
  }
}

.experience-item-left {
  @include media-tablet {
    padding-right: $spacer-xxl;
  }
}

.experience-item-right {
  font-style: italic;
  color: $gray-medium;
  
  @include media-tablet {
    min-width: 20%;
    text-align: right;
  }
}
