@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.card {
  display: flex;
  justify-content: space-between;  
  border: solid 1px $gray-dark;
  padding: $spacer-xl;
  margin-bottom: $spacer-xl;
  background-color: white;
  flex-direction: column;

  @include media-tablet {
    flex-direction: row;
  }
}

.card-left {
  @include media-tablet {
    padding-right: $spacer-xxl;    
  }  
}

.card-right {
  min-width: 20%;
  text-align: right;
  margin-top: $spacer-xxl;

  @include media-tablet {
    margin-top: 0;
  }  
}

.cta {
  font-weight: $font-bold;
}

.subtext {
  color: $gray-medium;
}

.description {
  margin-bottom: $spacer-lg;
  
  @include media-tablet {
    margin-bottom: $spacer-xl;
  }    
}
