@import '../../scss/helpers/variables';
@import '../../scss/helpers/mixins';

$tablet-height: 80px;
$transparent-black: rgba(0, 0, 0, 0.1);

.nav {
  display: flex;
}

.link {
  border-radius: 5px;
  transition: all $transition-speed-normal ease-in-out;
  padding: $spacer-md;

  @include media-tablet {
    padding: $spacer-lg;
  }

  &:hover {
    background-color: $gray-dark;
    color: $white;
    text-decoration: none;
  }
}

.chevron {
  transform: scale(0.75);

  :not(:hover) & {
    color: $transparent-black;
  }
}

.horizontal-nav {
  justify-content: space-around;
  margin-top: $spacer-lg;
  margin-bottom: $spacer-lg;
}

.vertical-nav {
  flex-direction: column;
  padding: 0 $spacer-lg;

  .link {
    display: flex;
    align-items: center;
    font-size: $font-xxl;
    border: solid 1px $transparent-black;
    margin-bottom: $spacer-lg;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;

    &:last-child {
      margin-bottom: 0;
    }

    > svg:first-child {
      margin-right: $spacer-xl;
      min-width: 26px;

      @include media-tablet {
        min-width: 64px;
      }
    }

    > span {
      flex: 1;
    }
  }
}
