.root {
  padding-bottom: $spacer-xl;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: $spacer-xxxl 0 $spacer-xl;

  &:first-child {
    margin-top: 0;
  }

  @include media-tablet {
    padding-bottom: $spacer-xxl;
    margin: $spacer-xxxxxl 0 $spacer-xxl;
  }
}

.dark {
  border-bottom-color: $gray-dark;
}

.light {
  border-bottom-color: $gray-lightest;
}
