@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

$tablet-height: 80px;

.nav {
  display: flex;
  justify-content: space-between;
  // padding: $spacer-lg 0;
}

.link {
  border-radius: 5px;
  // margin: 0 10px;
  transition: all $transition-speed-slow ease-in-out;
  padding: $spacer-lg;

  &:hover {
    background-color: $gray-dark;
    color: $white;
  }  
}

.logo {
  flex-grow: 1;
  display: flex;           
  justify-content: center;
  background-color: $black;
  padding: $spacer-md 0;
}

.logo-text {
  margin-bottom: 0;
}
