@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

$mobile-height: 44px;
$tablet-height: 80px;

.expanded {
  position: absolute;
  width: 100%;
  z-index: 1;

  .link {
    height: $mobile-height;  
    
    @include media-tablet {
      height: $tablet-height;
    }   
    
    svg {
      height: 38px;
      
      @include media-tablet {
        height: 72px;
      }  
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.link {
  display: flex;
  align-items: center;
  position:relative;
  line-height: 1;
  color: $gray-dark;
  background-color: transparent;
  border-radius: 5px;
  margin: 0 10px;
  transition: all $transition-speed-slow ease-in-out;

  &:hover {
    background-color: $gray-dark;
    color: $white;
  }  
}

.compact {

  .nav {
    padding-left: $spacer-mobile-large;
    padding-right: $spacer-mobile-large;
      
    @include media-tablet {
      padding-left: $spacer-tablet-large;
      padding-right: $spacer-tablet-large;
    }  
  }
}

.compact-logo {
  flex-grow: 1;
  
  h3 {
    margin-bottom: 0;
  }
}

.compact-links {
  display: flex;
  width: 420px;  
  
  .link {
    height: $mobile-height;
  }
}
