@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.repo {
  border: solid 2px $gray-dark;
  padding: $spacer-mobile-large;
  margin-bottom: $spacer-mobile-large;
}

.linkout {
  font-weight: $font-bold;
  margin: $spacer-mobile-huge 0 0;

  @include media-tablet {
    margin: 0;
  }
}
